/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* BODY */
body {
    background: #f4f6fa;
    color: #333;
}
img {
  width: 200px;          /* حجم الصورة */
  height: 200px;
  border-radius: 50%;    /* يخليها دائرية */
  object-fit: cover;     /* يملأ الدائرة بشكل متناسق */
  border: 3px solid #fff; /* إطار أبيض اختياري */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* ظل خفيف */
}
/* HEADER FULL PAGE */
.header {
    width: 100%;
    height: 100vh;   /* <<< يملى الشاشة كلها */
    background: #21364a;
    color: white;
    text-align: center;
    padding: 40px 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* HEADER TEXT */
.header h1 {
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 1px;
}

.header h3 {
    font-size: 18px;
    margin-top: 8px;
    font-weight: 300;
}

.header p {
    font-size: 15px;
    margin-top: 6px;
}

/* SOCIAL ICONS */
.social {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 18px;
}

.social a {
    color: white;
    font-size: 26px;
    transition: 0.3s;
}

.social a:hover {
    opacity: 0.7;
}

/* CONTENT */
.container {
    width: 85%;
    max-width: 1100px;
    margin: 40px auto;
}

/* SECTIONS */
section {
    margin-bottom: 30px;
}

h2 {
    font-size: 22px;
    color: #21364a;
    margin-bottom: 10px;
    font-weight: 700;
}

p,
li {
    font-size: 16px;
    line-height: 1.6;
}

ul {
    margin-left: 20px;
}

/* GRID LIST */
.grid-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    row-gap: 10px;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background: #ffffff;
}

.contact-section{
    text-align: center;
    padding: 80px 20px;
}

.contact-section h2{
    font-size: 32px;
    font-weight: 600;
    color: #4376ff;
    margin-bottom: 40px;
}

.contact-cards{
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.card{
    width: 260px;
    background: #fff;
    padding: 30px 20px;
    border-radius: 12px;
    box-shadow: 0px 4px 18px rgba(0,0,0,0.1);
    transition: .3s;
}

.card:hover{
    transform: translateY(-5px);
}

.card i{
    font-size: 40px;
    color: #4376ff;
    margin-bottom: 15px;
    display: block;
}

.card h3{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 8px;
}

.card p{
    font-size: 15px;
    color: #444;
}

footer{
    background: #040a2c;
    padding: 18px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    flex-wrap: wrap;
}

.copy{
    font-size: 14px;
}

.copy span{
    color: #4376ff;
}

.social a{
    color: #fff;
    margin-left: 15px;
    font-size: 20px;
    transition: .3s;
}

.social a:hover{
    color: #4376ff;
}